.footer {
  background-color: #f8f9fa;
}

.footer-logo {
  font-family: Lato-Black;
  color: #003f6d;
}

.social-icon {
  display: inline-block;
  margin-left: 10px;
  font-size: 30px;
  color: #19828a;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.social-icon:hover {
  color: #14676e;
}