/* Font style */

@font-face {
    font-family: 'Lato-Light';
    src: url(../fonts/Lato-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url(../fonts/Lato-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato-Black';
    src: url(../fonts/Lato-Black.ttf) format('truetype');
}

/* Browser style */

body {
    font-family: Lato-Light;
    font-size: 16px;
    color: #333;
}

a {
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #333;
}

button {
    border: 0;
}

button:focus {
    outline: none;
}

h1, h2 {
    font-family: Lato-Bold;
}

h3, h4 {
    font-family: Lato-Regular;
}

h5, h6 {
    font-family: Lato-Light;
}

/* Bootstrap */

.btn-main {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #06f;
    padding: .375rem 1.2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-main:hover {
    background-color: #1875ff;
    color: #fff;
    text-decoration: none;
}