/* Own Style */

.hero-section {
    background-image: linear-gradient(to right,#051758, #1A3295);
    color: white;
    min-height: 90%; 
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.hero-section a {
    color: white;
}

.hero-section a:hover {
    text-decoration: none;
    color: white;
}

.profile-picture {
    border-radius: 50%;
    width: 100%;
}

.timeline-section {
    background-color: #ddd;
}

/* Library */

.vertical-timeline {
    padding: 5em 0;
}

.vertical-timeline-element-icon svg { 
    width: 24px!important;
}